aws_region     = "us-east-2"
aws_access_key = ""
aws_secret_key = ""
project_name   = "bsm-poc"
env            = "dev"

# VPC
public_subnets = ["10.0.101.0/24", "10.0.102.0/24"]

# S3 bucket
bucket = "bsm-poc.tannguyenit.dev"

# Route 53
route53_hosted_zone = "tannguyenit.dev"
route53_private_zone = false

fe_certificate_domain_name = "bsm-poc.tannguyenit.dev"
app_certificate_domain_name = "asset-poc.tannguyenit.dev"
alb_certificate_domain_name = "api.bsm-poc.tannguyenit.dev"